.main-header {
    background-image: url('https://plus.unsplash.com/premium_photo-1661962354730-cda54fa4f9f1?q=80&w=2070');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    position: relative;
}
