:root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    --color-white: #fff;
    --color-black: #000;
}

body {
    padding: 0;
    margin: 0;
}
